<!-- Include _headPage-->
<%- include('include/_headPage') %>
    <!-- _headPage included-->

    <div class="main-content container-fluid">
        <div class="page-title">
            <h3>template</h3>
            <p class="text-subtitle text-muted">Use it on your own</p>
        </div>

    </div>
    <!-- Include _footPage-->
    <%- include('include/_footPage') %>
        <!-- _footPage included-->