<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPMedecin app</title>
    <link rel="stylesheet" href="/design/docs/assets/css/bootstrap.css">


    <link rel="shortcut icon" href="/img/logo_app/logoApp.png" type="image/x-icon">
    <link rel="stylesheet" href="/design/docs/assets/css/app.css">
</head>

<body>
    <div id="auth">