<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link rel="stylesheet" href="/design/docs/assets/css/bootstrap.css">

    <link rel="shortcut icon" href="/img/logo_app/logoApp.png" type="image/x-icon">
    <link rel="stylesheet" href="/design/docs/assets/css/app.css">
</head>

<body>
    <div id="error">

        <div class="container text-center pt-32">
            <h1 class='error-title'>404</h1>
            <p>Erreur!! Page introuvable</p>
            <a href="/home" class='btn btn-primary'>Retour à la page d'acceuil</a>
        </div>

        <div class="footer pt-32">
            <p class="text-center">Copyright &copy; Gestion des prestations 2020</p>
        </div>
    </div>
</body>

</html>